# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a # we need to keep the sfml libs so we dont want to ignore *.a files
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Project Files
# =========================

# ROM Files
# =========================

*.nes

# Project directories
# =========================

spnn/bin/
simple_nes/bin/
spiky_nes/bin/
zlib/bin/

# Project misc files
# =========================

*.layout
*.depend
*.csv
*.xml
exec/simplenes.log
*.cscope_file_list
